@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  @include flexbox();
  padding: $sm;
  box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.75);
}

.wrapper {
  @include flexbox(column);
  margin: 0 auto;
  max-width: 400px;
  gap: $xs;
  border-radius: $xs;
  border: 1px solid aqua;
  background: #1717177d;
}

.text {
  @include text($regular, 16px);
}
