@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.wrapper {
  @include flexbox(column);
  gap: $sm;
  padding: $sm;

  .address {
    word-break: break-all;
  }

  .button {
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    cursor: pointer;

    background-color: rgba(102, 170, 238, 0.91);
    color: white;
    font-size: 16px;
    line-height: 20px;

    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.97);
    }
  }
}
