// colors
$bgmain: #f4f5f9;
$content: #42567a;
$title: #3877ee;
$minDate: #5d5fef;
$maxDate: #ef5da8;

//fonts
$bold: 700;
$regular: 400;

//screens
$desktop: 1920px;
$md-tablet: 1280px;
$sm-tablet: 768px;
$mobile: 450px;

// gaps
$xs: 8px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 40px;
